{# src/Bikeens/PlatformBundle/Resources/views/Info/index.html.twig #}

{% extends "BikeensPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block bikeensplatform_body %}
    <div id="have-bike">
        <div class="container">
            <h2>Vous possédez un vélo…</h2>
            <div class="info">
                <p>
                    … mais vous ne l’utilisez pas tous les jours. <strong>Avez-vous pensé à lui donner une seconde vie et à le louer à un particulier proche de chez vous ?</strong>
                    Bikeens, service de location en ligne, vous aide à partager votre vélo en toute sécurité. Il ne vous reste plus qu’à prendre soin de lui, le bichonner, lui redonner une nouvelle jeunesse s’il le faut pour donner envie aux cyclistes d’adopter votre vélo pendant un jour ou même un mois !
                    <br>
                    <br>
                    Inscrivez votre vélo avant le lancement du service prévu début août tentez de gagner un vélo Arcade, des DVD de l’aventure Solidream, une sacoche double et plein d’autres lots (d’une valeur de plus de 1000 euros)*
                </p>
                <button>En savoir plus</button>
            </div>
            <div class="contest">
                {% image '@BikeensPlatformBundle/Resources/public/images/Visuel-jeux-concours-4.png' %}
                <img src="{{ asset_url }}" alt="Jeu Concours Bikeens" />
                {% endimage %}
                <button>Je participe au jeu</button>
            </div>
        </div>
    </div>

    <div id="rent-bike">
        <div class="container">
            <h2>Comment louer mon vélo sur Bikeens ?</h2>
            <div class="step">
                <div class="info">
                    <span class="glyphicon glyphicon-check"></span>
                    <br>
                    <strong class="title-step">J’inscris mon vélo</strong>
                </div>
                <hr>
                <p>
                    Capacités, personnalité, surnom affectif, dites nous en plus sur lui !
                </p>
            </div>
            <div class="step">
                <div class="info">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    <br>
                    <strong class="title-step">Je reçois une demande de location</strong>
                </div>
                <hr>
                <p>
                    Un particulier veut louer mon vélo, je dispose de 12 heures maximum pour accepter sa demande
                </p>
            </div>
            <div class="step">
                <div class="info">
                    <span class="glyphicon glyphicon-check"></span>
                    <br>
                    <strong class="title-step">Je loue mon vélo</strong>
                </div>
                <hr>
                <p>
                    Je rencontre le locataire, partage avec lui les bons plans sur les alentours et établis le contrat de location.
                </p>
            </div>
            <div class="step">
                <div class="info">
                    <span class="glyphicon glyphicon-check"></span>
                    <br>
                    <strong class="title-step">Je récupère l’argent</strong>
                </div>
                <hr>
                <p>
                    Après la location, je peux laisser un avis au locataire et virer l’argent sur mon compte bancaire.
                </p>
            </div>
        </div>
    </div>

    <div id="need-bike">
        <div class="container">
            <h2>
                Vous avez besoin d’un vélo ? Louez le !
            </h2>
            <div class="info">
                <p>
                    <strong>Louez le vélo d’un particulier</strong> à tout moment, partout en France, pour une journée, quelques jours ou un mois !
                    <br>
                    <br>
                    Renseignez les dates et le lieu de location souhaités et trouvez les vélos disponibles ! Pour vous aider à faire votre choix parmi les milliers de vélos, un filtre est à votre disposition pour affiner votre recherche : type de vélo, prix maximum souhaité, accessoires prêtés…
                    <br>
                    Une fois le vélo trouvé, faites une <strong>demande de réservation</strong> auprès du loueur particulier en payant au préalable le prix de la location. Cependant, vous ne serez prélevé uniquement si le propriétaire accepte votre demande. Du début à la fin de la location, je suis lié au propriétaire du vélo via un contrat de location.
                    <br>
                    <br>
                    Ça y est vous pouvez vous déplacer librement avec votre monture, visiter et découvrir de nouveaux horizons. Bonne route !
                </p>
            </div>
            <div class="map">
                {% image '@BikeensPlatformBundle/Resources/public/images/map-montpellier-Bikeens-430x344.png' %}
                <img src="{{ asset_url }}" alt="Carte de Montpellier Bikeens" />
                {% endimage %}
            </div>
        </div>
    </div>

    <div id="why-rent-bike">
        <div class="container">
            <h2>
                Pourquoi louer un vélo sur Bikeens ?
            </h2>
            <div class="step">
                <div class="info">
                    <span class="glyphicon glyphicon-check"></span>
                    <br>
                    <strong class="title-step">Simple</strong>
                </div>
                <hr>
                <p>
                    Trouvez le vélo qui vous correspond et réservez le en quelques secondes
                </p>
            </div>
            <div class="step">
                <div class="info">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    <br>
                    <strong class="title-step">Collaboratif</strong>
                </div>
                <hr>
                <p>
                    Profitez du vélo d’un particulier et laisser votre avis sur l’expérience vécue
                </p>
            </div>
            <div class="step">
                <div class="info">
                    <span class="glyphicon glyphicon-check"></span>
                    <br>
                    <strong class="title-step">Sécurisé</strong>
                </div>
                <hr>
                <p>
                    Les transactions en ligne sont sécurisées et vous êtes assuré lorsque vous roulez
                </p>
            </div>
        </div>
    </div>

    <div id="security">
        <div class="container">
            <h2>
                La sécurité avant tout !
            </h2>
            <div class="info">
                <div class="type">
                    <div id="tenant" class="selected">
                        En tant que locataire
                    </div>
                    <div id="owner">
                        En tant que propriétaire
                    </div>
                </div>
                <ul type="square">
                    <li><strong>Roulez sereinement</strong>, vous êtes </strong>assurés en cas de casse ou vol</strong> du vélo jusqu’à 5 000 €. </li>
                    <li>Un <strong>système d’avis</strong> renforce la confiance entre les loueurs et locataires.</li>
                    <li>Vérifiez que le vélo dispose <strong>des éléments de sécurités obligatoires</strong> en bon état:</li>
                </ul>
                <span class="glyphicon glyphicon-ok"></span> Deux freins, avant et arrière.
                <br>
                <span class="glyphicon glyphicon-ok"></span> Un feu avant jaune ou blanc et un feu arrière rouge.
                <br>
                <span class="glyphicon glyphicon-ok"></span> Un avertisseur sonore.
                <br>
                <span class="glyphicon glyphicon-ok"></span> Des catadioptres (dispositifs rétro-réfléchissants) : de couleur rouge à l’arrière, de couleur blanche à l’avant, de couleur orange sur les côtés et sur les pédales.
                <br>
                <br>
                <ul type="square">
                    <li>Pensez à <strong>respecter le code de la route</strong> et <strong>les autres usagers</strong> des voies empruntés (automobilistes, cyclistes, pietons, skateurs, etc.)</li>
                    <li>Pour plus de sécurité, nous vous recommandons le port du casque.</li>
                </ul>
            </div>
            <div class="partners">
                <div>
                    <span>Nos partenaires qui assurent !</span>
                </div>
                {% image '@BikeensPlatformBundle/Resources/public/images/logoMAIF.jpg' %}
                <img src="{{ asset_url }}" alt="Logo Maif" />
                {% endimage %}
                {% image '@BikeensPlatformBundle/Resources/public/images/logo-Mangopay.png' %}
                <img src="{{ asset_url }}" alt="Logo Mangopay" />
                {% endimage %}
                <div>
                    <span>Assurance casse et vol des vélos en location</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}